
@{
    ViewBag.Title = "succesfullyAction_Performed";
}
<head>
    <link href="~/Content/scful.css" rel="stylesheet" />
</head>
<body>
    <div class="success-message">
        <div class="success-icon">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="success-text">
            <h2>Success!</h2>
            <p>Your action has been successfully performed.</p>
        </div>
    </div>
</body>
<div class="login-box">

    <form>

        @Html.ActionLink("Back to Home", "Home","Inventory")
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        </a>
    </form>
</div>


